<div class="site-header">
  <div class="container">
    <h2 class="site-title">{{ site.title | escape }}</h2>
  </div>
</div>
<nav class="navbar navbar-inverse site-navbar">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
        {% for my_page in site.pages %}
          {% if my_page.title %}
            <li><a href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a></li>
          {% endif %}
        {% endfor %}
      </ul>
      </div><!-- /.nav-collapse -->
      </div><!-- /.container -->
    </nav>